@model Patient_Tracker.Models.HospitalServices.Billing

@{
    ViewData["Title"] = "GenerateBill";
}

<h1>GenerateBill</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <input asp-for="AppointmentId" value=@ViewBag.Id class="field left" readonly/>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationCharges" class="control-label"></label>
                <select asp-for="ConsultationCharges" class="form-control" asp-items="@ViewBag.ConsultationCharges"></select>
                <span asp-validation-for="ConsultationCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabTestCharges" class="control-label"></label>
                <select asp-for="LabTestCharges" class="form-control" asp-items="@ViewBag.LabtestCharges"></select>
                <span asp-validation-for="LabTestCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCharges" class="control-label"></label>
                <select asp-for="RoomCharges" class="form-control" asp-items="@ViewBag.RoomCharges"></select>
                <span asp-validation-for="RoomCharges" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control"  />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
