
@{
    ViewData["Title"] = "Index";
}

<h3>Select What oparation you want to perform</h3>

 <h5><a class="link-primary"  asp-controller="Admin" asp-action="Register">Register</a></h5>

     <h5><a class="link-primary" asp-controller="Admin" asp-action="Update">Update</a></h5>

     <h5><a class="link-primary" asp-controller="Admin" asp-action="Billing">Billing</a></h5>
      

