
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center; margin-top:20px;"> Welcome to Admin Dashboard </h1>


      <div class="row margin">
        
        <div class="col-md-3" style="margin-top:50px;">
            <a asp-action="Register" asp-controller="Admin" class="btn btn-secondary "><b>Appoint Pateint</b></a>
        </div>
        <div class="col-md-3" style="margin-top:50px;">
             <a asp-action="Appointed" asp-controller="Admin" class="btn btn-secondary "><b>Add Facility</b></a>

        </div>
        <div class="col-md-3" style="margin-top:50px;">
             <a asp-action="Billing" asp-controller="Admin" class="btn btn-secondary "><b>Billing</b></a>

        </div>

        <div class="col-md-3" style="margin-top:50px;">
             <a asp-action="Approval" asp-controller="Admin" class="btn btn-secondary "><b>Approval/Deny</b></a>

        </div>


    </div>
      

