@using Patient_Tracker.Models.ApplicationModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register New Patient Here</h1>


@{

   IEnumerable<DoctorModel> doctors = ViewData["doctors"] as IEnumerable<DoctorModel>;
   IEnumerable<PatientModel> patients = ViewData["patients"] as IEnumerable<PatientModel>;
}

 <p><b>Student List</b></p>
<table>
    <tr>
      
        
    </tr>
    @foreach (DoctorModel doctor in doctors)
    {
        <tr>
            <td>@doctor.ApplicationUser.FirstName</td>
            
        </tr>
    }
</table>

<table>
   
    @foreach (PatientModel patient in patients)
    {
        <tr>
            <td>@patient.ApplicationUser.FirstName</td>
           
        </tr>
    }
</table>



