@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h5 class="display-4">Welcome</h5>

    <hr/>
    <h4>Please choose your Role here</h4>

     <hr/>
     <h5><a class="link-primary"  asp-controller="Auth" asp-action="Doctor">Doctor</a></h5>

     <h5><a class="link-primary" asp-controller="Auth" asp-action="Patient">Patient</a></h5>

     <h5><a class="link-primary" asp-controller="Auth" asp-action="Clerk">Clerk</a></h5>
      
    
</div>
