
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center; margin-top:20px;">Welcome to Patient Dashboard</h1>
<div class="text-center" style="margin-top:50px;">
    <div class="row margin">
        
        <div class="col-md-4" style="margin-top:20px;">
            <a asp-action="Index" class="btn btn-danger btn-lg"><b>View  Status</b></a>
        </div>
        <div class="col-md-4" style="margin-top:20px;">
            <a asp-action="Index" class="btn btn-danger btn-lg"><b>View Result</b></a>
        </div>
    </div>
</div>

