
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center; margin-top:20px;">Welcome to Patient Dashboard</h1>
<div class="text-center" style="margin-top:50px;">
    <div class="row margin">
        
        <div class="col-md-6" style="margin-top:20px;">
            <a asp-action="ViewRecord" class="btn btn-secondary"><b>View Record</b></a>
        </div>
        <div class="col-md-6" style="margin-top:20px;">
            <a asp-action="ViewCharge" class="btn btn-secondary"><b>View Charge </b></a>
        </div>
    </div>
</div>

